@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #000000;
    --color-base2: #0d0d0d;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
     background: url(../images/gif2.webp);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand{
    background-image: linear-gradient(137deg, rgba(112,18,235,1) 4%, rgba(202,18,226,1) 21%, rgba(231,16,165,1) 40%, rgba(236,16,50,1) 53%, rgba(203,57,25,1) 69%, rgba(232,96,11,1) 83%, rgba(254,213,0,1) 95%, rgba(254,255,0,1) 100%);
    background-clip: text;
    color: transparent;
}

.text-neon {
    color: var(--color-base2);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #deff58, 0 0 25px #deff58, 0 0 30px #deff58, 0 0 35px #deff58;
  }

.bg-base {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
    box-shadow: 0px 0px 40px 0px black;
}

.shadow-effect:hover {
    box-shadow: 0px 0px 40px 0px #deff58 !important;
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-base2);
    color: var(--color-heading);
}

/* NAVBAR */

.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar{
        height: 100%;
        width: var(--sidbar-width);
        background-color: var(--color-base2);
        /* background-position: center; */
    }

    .navbar-brand{
        justify-content: start;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
        box-shadow: 0px 0px 40px 0px #deff58 !important;
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

    #copy {
        margin-left: -15%;
    }
}

@media (max-width: 992px){
    /* CONTENT WRAPPER */
    #content-wrapper {
        margin-left: 10%;
    }

    /* NAVBAR */
    .navbar-brand span{
        color: var(--color-base2);
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    }
    .navbar {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
      }
      
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
} 

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus{
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder{
    color: var(--color-body);
}

#contact input.form-control{
    height: 44px;
}



/* SOCIAL ICONS */
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 100px;
    font-size: 24px;
}

/* SCROLL BAR */

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, rgba(222,255,80,1) 0%, rgba(224,247,128,1) 100%);
    border-radius: 6px;
}

/* SELECTOR */

::selection {
    background: var(--color-brand);
    color: var(--color-base);
}